.center {
	position: relative;
	text-align: center;
}
.right {
	position: relative;
	text-align: right;
}
.left {
	position: relative;
	text-align: left;
}

.margin-big {
	margin-left: 40px;
}

.margin-small {
	margin: 10px;
}

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #000000;
	--primary-color: #000000;
	--secondary-color: rgb(0, 0, 0);
	--tertiary-color: #000000;
	--accent-color: #000000;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #000000;
	--background-without-opacity: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--accent-color);
	background: white;
	color: rgb(0, 0, 0);
}
